*
{
	padding: 0px 0px;
	margin: 0px 0px;
}
html, body
{
	height: 100%;
	width: 100%;
}
body
{
	background-color: #FFF;
	font-family: "宋体" , Verdana, Geneva, sans-serif;
	font-size: 9pt;
}
form, ul, li
{
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}
a
{
	color: #005eac;
	text-decoration: none;
}
a:visited, a:active
{
	color: #005eac;
}
a:hover
{
	color: #ff5500;
}
img
{
	border: 0px;
	vertical-align: middle;
}

.btn-2letter
{
	letter-spacing: 9px !important;
	text-indent: 9px !important;
	cursor: pointer;
}
.btn-moreletter
{
	margin: 0px 9px !important;
	cursor: pointer;
}
.login_input
{
	padding: 2px 2px 2px 5px;
	color: #999;
	font-size: 9pt;
	width: 200px;
	height: 1.5em;
	line-height: 1.5em;
	border: 1px solid #d1d1d1;
	background: url(../Images/input_bg.jpg) repeat-x;
}
.tipbox
{
	font-size: 9pt;
	color: #F00;
	line-height: 26px;
}
